.navbar {
    .navbar-collapse {
        .nav-item {
            cursor: pointer;
        }
    }
}

@mixin transition {
    transition: all 0.01s;
}


.bg-img{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-position: center center;
    background-size: cover;
}

.shortlist-box {
    .shortlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: stretch;
        justify-content: center;
        height: 100%;

        .candidate-box {
            @include transition;

            .candidate-wrapper {
                margin: 3px;
                padding: 5px 5px;
                text-align: center;
                border: 1px solid #ccc;
                height: 40px;
                width: 80px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                box-shadow: 0px 0px 5px #ccc;
                background: #fff;
                @include transition;

                .candidate-name {
                    font-weight: 600;
                }

                .candidate-pos {
                    font-size: 11px;
                    font-weight: 100;

                }
            }

            &.focus {
                transform: scale(1.3);
                z-index: 1;

                .candidate-wrapper {
                    box-shadow: 0px 0px 5px #aaa;
                }
            }

            &.done {
                transform: scale(0.9);
                opacity: 0.6;

                .candidate-wrapper {
                }
            }
        }
    }
}

.shortlist-empty-box{
    height: calc(100vh - 80px);
    margin: 5px;
    background: rgba( 100, 100, 100, 0.3);
    position: relative;
    border-radius: 10px;
    &:after{
        content: "請輸入抽獎名單";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        font-size: 25px;
        font-weight: 900;
    }
}

.lucky-modal {
    .candidate-box {
        .candidate-wrapper {
            margin: 10px auto;

            .candidate-name {
                font-size: 30px!important;
                font-weight: 900;
            }

            .candidate-pos {
                font-size: 20px!important;
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 755px) {
    .navbar {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0%;
                        height: 1px;
                        background: #eee;
                        transition: all 0.2s;
                    }

                    &.active {
                        &:after {
                            width: 90%;
                        }
                    }

                    &:hover {
                        &:after {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}